{% extends "layout.html" %}

{% block title %}
Order Summary
{% endblock %}

{% comment %} {% block content %}
<div class="container">
    <h1>Order Summary</h1>
    <div class="order-details">
        <p><strong>Product:</strong> {{ order.product.name }}</p>
        <p><strong>Quantity:</strong> {{ order.quantity }}</p>
        <p><strong>Price per unit:</strong> ${{ order.price }}</p>
        <p><strong>Total Price:</strong> ${{ order.price|multiply:order.quantity }}</p>
        <p><strong>Ordered at:</strong> {{ order.ordered_at }}</p>
    </div>
</div>
{% endblock %} {% endcomment %}
